/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2017, 8:01:13 PM
    Author     : raymondm
*/

.container{
    width: 95%;
    height: auto;
    border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
    padding: 1%;
    margin-top: 9px;
}
input[type="submit"]{
    background: black;
    color: #FFF;
}
#save-button{
    background: #008554;
    color: #FFF; 
    padding: 0.5%;
}
#submit-button{
    background: #008554;
    color: #FFF; 
    padding: 0.5%;
    display: none;
}
.button-download{
    background: #008554;
    color: #FFF; 
    padding: 0.5%;
}